# Office Temp Files #
~*.tmp

~$*.doc
~$*.docx

~$*.ppt
~$*.pptx

~$*.xls
~$*.xlsx

# MMF Auto Backup #
*.001

# Debug Object Log File #
*.log

# Deque Output File #
*.File

# Tools #
Utilities/RGBDefiner/Assets/

# Program/_Docs/DataBaseEditor/.vs/*
*.bak

# Release
*_B*.zip
.vscode/settings.json
